<div class="social mb-2 mt-2">
  <div class="text-center social-divider">
    <span></span>
    <span>OR</span>
    <span></span>
  </div>
  <div class="social-buttons mt-3">
    <a href="#!" class="btn btn-sm google-icon">
      <fa-icon [icon]="['fab', 'google']"></fa-icon>
      <span>&nbsp;Google</span>
    </a>
    <a href="#!" class="btn btn-sm facebook-icon ">
      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      <span>&nbsp;Facebook</span>
    </a>
    <a href="#!" class="btn btn-sm twitter-icon">
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      <span>&nbsp;Twitter</span>
    </a>
  </div>
</div>
