<div class="social mt-1">
  <div class="text-centered social-divider">
    <span></span>
    <span>OR</span>
    <span></span>
  </div>
  <div class="social-buttons mt-1">
    <a href="#!" class="btn google-icon btn-sm btn-block">
      <fa-icon [icon]="['fab', 'google']"></fa-icon>
      <span>&nbsp;Google</span>
    </a>
    <a href="#!" class="btn facebook-icon btn-sm btn-block">
      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      <span>&nbsp;Facebook</span>
    </a>
    <a href="#!" class="btn twitter-icon btn-sm btn-block">
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      <span>&nbsp;Twitter</span>
    </a>
  </div>
</div>
