//-------------------------------------------
// @Colors
// -------------------------------------------
$default-colors: (
  primary: #252f73,
  primary-light: #3f49b6,
  secondary: #d9dbf0,
  secondary-light: #f7f8ff,
  white-color: #fff,
  black-color: #212529,
  grey-color: #bfbfbf,
  dashboardbg-color: #f6f8fa,
  twitter: #00acee,
  google: #db4437,
  facebook: #4267b2,
  gradient-stop: #fd00d6,
);

//-------------------------------------------
// @BreakPoints
// -------------------------------------------
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//-------------------------------------------
// @Dashboard Variables
// -------------------------------------------

$sidebar-width: 15rem;
$sidebar-width-collapsed: 4.375rem;
$header-height: 4.375rem;
$footer-height: 1.875rem;
