<section class="auth-form">
  <form class="auth-form-wrapper">
    <section class="auth-form-header">
      <h2 class="text-uppercase">Register</h2>
    </section>

    <section class="auth-form-content">
      <div class="form-group">
        <label class="form-label">
          <input
            class="form-control form-control-sm"
            aria-describedby="usernameHelp"
            placeholder="Username"
            autocomplete="username"
            type="text">
          <span class="form-label-line"></span>
        </label>
      </div>
      <div class="form-group">
        <label class="form-label">
          <input
            class="form-control form-control-sm"
            aria-describedby="emailHelp"
            placeholder="Email"
            autocomplete="email"
            type="email">
          <span class="form-label-line"></span>
        </label>
      </div>
      <div class="form-group">
        <label class="form-label">
          <input
            class="form-control form-control-sm"
            aria-describedby="passwordHelp"
            placeholder="Password"
            autocomplete="current-password"
            type="password">
          <span class="form-label-line"></span>
        </label>
        <small class="form-text text-muted">
          Password must contain at least eight(8) characters,
          one(1) uppercase character and a symbol.
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">
          <input
            class="form-control form-control-sm"
            aria-describedby="confirmPasswordHelp"
            placeholder="Confirm password"
            type="password">
          <span class="form-label-line"></span>
        </label>
      </div>
    </section>

    <section class="auth-form-action">
      <div class="links">
        <a routerLink="['/login']" href="">
          <fa-icon [icon]="['fas', 'chevron-circle-left']"></fa-icon>
          &nbsp;Back</a>
      </div>
      <div>
        <button class="btn btn-primary" type="submit">
          Register
        </button>
      </div>
    </section>

    <section class="auth-form-footer">
      <lau-social-buttons></lau-social-buttons>
    </section>
  </form>
</section>
