@import "base/normalize.css";

//-------------------------------------------
// @Form styles
// -------------------------------------------

.form-ctrl {
  background: colors('secondary-light');
  border: unset;
  border-radius: 0.1875rem;
  display: block;
  height: calc(1.5em + .75rem + 2px);
  padding: .3125rem .75rem;
  width: 100%;

  @include transition(300ms);

  &:focus {
    background: colors('white-color');
    box-shadow: unset;
    outline: unset;
  }

  &::placeholder {
    color: colors('grey-color');
    font-size: 80%;
  }

  &-sm {
    font-size: .875rem;
    height: calc(1.5em + .5rem + 2px);
    line-height: 1.5;
    padding: .25rem .5rem;
  }
}

.form-grp {
  margin-bottom: 1rem;
}

input:focus + .form-input-line,
select:focus + .form-input-line {
  background-color: colors('primary');
  width: 100%;
}

.form-txt {
  display: inline-block;
  margin-top: .25rem;
}

.form-label {
  display: unset;
  margin: unset;

  .form-input-line {
    background-color: transparent;
    display: block;
    height: 0.0625rem;
    position: relative;
    width: 0;

    @include transition(300ms);
  }
}

//-------------------------------------------
// @Button styles
// -------------------------------------------

.btn {
  border: none;
  border-radius: 0.1875rem;
  font-size: 90%;
  font-weight: 400;
  outline: unset;
  padding: .375rem 1rem;
  text-align: center;
  vertical-align: middle;

  @include transition(300ms);

  &-sm {
    font-size: 80%;
    padding: 0.3125rem 0.25rem;
  }

  &-primary {
    background: colors('primary-light');
    color: colors('white-color');
  }

  &-block {
    display: block;
    width: 100%;
  }

  &:hover {
    background: darken(colors('primary-light'), 10%);
    box-shadow: 0 0.25rem 0.25rem rgba(colors('black-color'), 0.15);
  }
}

.twitter-icon {
  background: colors('twitter');
  color: colors('white-color');

  &:hover {
    background: darken(colors('twitter'), 10%);
  }
}

.facebook-icon {
  background: colors('facebook');
  color: colors('white-color');

  &:hover {
    background: darken(colors('facebook'), 10%);
  }
}

.google-icon {
  background: colors('google');
  color: colors('white-color');

  &:hover {
    background: darken(colors('google'), 10%);
  }
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

//-------------------------------------------
// @Padding and margins
// -------------------------------------------

@include padding-helper('top', 1);
@include margin-helper('top', 1);
@include padding-helper('top', 2);
@include margin-helper('top', 2);
@include padding-helper('top', 3);
@include margin-helper('top', 3);
@include padding-helper('top', 4);
@include margin-helper('top', 4);
@include padding-helper('bottom', 1);
@include margin-helper('bottom', 1);
@include padding-helper('bottom', 2);
@include margin-helper('bottom', 2);
@include padding-helper('bottom', 3);
@include margin-helper('bottom', 3);
@include padding-helper('bottom', 4);
@include margin-helper('bottom', 4);

//-------------------------------------------
// @Images
// -------------------------------------------
.responsive {
  height: auto;
  max-width: 100%;
}
