@import "base/normalize.css";

//-------------------------------------------
// @Form styles
// -------------------------------------------

.form-control {
  background: colors('secondary-light');
  border: unset;
  border-radius: 0.1875rem;
  display: block;
  height: calc(1.5em + .75rem + 2px + 0.06125rem);
  padding: .3125rem .75rem;
  width: 100%;

  @include transition(300ms);

  &:focus {
    background: colors('white-color');
    box-shadow: unset;
    outline: unset;
  }

  &::placeholder {
    color: lighten(colors('black-color'), 50%);;
  }

  &-sm {
    font-size: .875rem;
    height: calc(1.5em + .5rem + 2px + 0.0625rem);
    line-height: 1.5;
    padding: .25rem .5rem;
  }
}

input:focus + .form-label-line,
select:focus + .form-label-line {
  background-color: colors('primary');
  width: 100%;
}

.form-label {
  display: unset;
  margin: unset;

  &-line {
    background-color: transparent;
    display: block;
    height: 0.0625rem;
    position: relative;
    width: 0;

    @include transition(300ms);
  }
}

//-------------------------------------------
// @Button styles
// -------------------------------------------

.btn {
  border: none;
  border-radius: 0.1875rem;
  outline: unset;

  @include transition(300ms);

  &-sm {
    font-size: 80%;
    padding: 0.3125rem 0.25rem;
  }

  &-primary {
    background: colors('primary-light');
    color: colors('white-color');
  }

  &:hover {
    background: darken(colors('primary-light'), 10%);
    box-shadow: 0 0.25rem 0.25rem rgba(colors('black-color'), 0.15);
  }
}

.twitter-icon {
  background: colors('twitter');
  color: colors('white-color');

  &:hover {
    background: darken(colors('twitter'), 10%);
  }
}

.facebook-icon {
  background: colors('facebook');
  color: colors('white-color');

  &:hover {
    background: darken(colors('facebook'), 10%);
  }
}

.google-icon {
  background: colors('google');
  color: colors('white-color');

  &:hover {
    background: darken(colors('google'), 10%);
  }
}
