@import "../abstracts/variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Nunito", "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

body {
  color: colors('black-color');
  font-family: "Nunito", "Montserrat", "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
}

.text-uppercase {
  text-transform: uppercase;
}
